<h1 class="text-center">Eat-A-Burgers!</h1>

<div class="container">
    <div class="row">

        <div class="col">
            <h2>Burgers that are yet to be devoured!</h2>

            <ul>
            {{#each burgers}}
            {{#unless devoured}}
                <li>
                    {{name}}
                    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                        {{#if devoured}}Devoured!{{else}}Eat later!{{/if}}
                    </button>
                </li>
            {{/unless}}
            {{/each}}
            </ul>
        </div>

        <div class="col">
            <h2>Burgers that have been devoured!</h2>

            <ul>
            {{#each burgers}}
            {{#if devoured}}

            {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>
</div>

<h2>Add a burger:</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devour now?</label><br>
    <input type="radio" name="devoured" value="1" id="sleepy" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0" id="awake"> Devour it Later!
  </div>

  <button type="submit">Add Burger</button>
</form>
